body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

.header {
    display: flex; 
    text-align: center;
    margin-top: 50px; /* Adjust as needed */
    justify-content: center;
}

.word {
    font-family: 'Indie Flower', cursive;
    background-color: white;
    color: black;
    margin: 0 5px;
    display: flex;
    justify-content: center;
}

.word h2 {
    margin: 0;
    font-size: 24px;
}

.motion-letters {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Each letter takes up one fraction */
    justify-content: center;
}

#lottie-animation {
    width: 300px;
    height: 300px;
    margin: 50px auto 0; /* Centered below the header */
}

#about-the-motion {
    text-align: center;
    margin-top: 50px; /* Adjust as needed */
}

#instagram-video {
    margin: 20px auto;
    overflow: hidden;
}

#instaFrame {
    width: calc(100vw - 40px);
    max-width: 600px;
}


h2 {
    text-align: center;
}

p {
    text-align: center;
}