body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #fff;
    color: #333;
    padding: 20px;
    text-align: center;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-top: 40px;
    text-align: center;
}

p {
    text-align: center;
}

#lottie-animation {
    width: 300px; /* Adjust size as needed */
    height: 300px; /* Adjust size as needed */
    margin: 0 auto; /* Center horizontally */
    opacity: 1; /* Initially fully visible */
    transition: opacity 0.5s ease-in-out; /* Smooth transition for opacity changes */
}

#instagram-video {
    width: 100%; /* Adjust size as needed */
    max-width: 600px; /* Adjust size as needed */
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center horizontally */
    opacity: 0; /* Initially invisible */
    transition: opacity 0.5s ease-in-out; /* Smooth transition for opacity changes */
}
