body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden; /* Prevent scrolling on the body */
}

header {
    background-color: #fff;
    color: #333;
    padding: 20px;
    text-align: center;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-top: 40px;
    text-align: center;
}

p {
    text-align: center;
}

#lottie-animation {
    width: 300px; /* Adjust size as needed */
    height: 300px; /* Adjust size as needed */
    position: fixed; /* Fix the position of the Lottie animation */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the element */
    z-index: 1; /* Ensure it's above other content */
}

#instagram-video {
    width: 100%; /* Adjust size as needed */
    max-width: 300px; /* Adjust size as needed */
    position: fixed; /* Fix the position of the Instagram video */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the element */
    z-index: 1; /* Ensure it's above other content */
}

.hidden {
    display: none; /* Hide the Instagram video initially */
}
