:root {
    --color-off-white: #f3f4f4;
    --metric-box-spacing: 1rem;
    --max-image-width: 680px;
    --max-container-width-desktop: 1200px;
    --red-logo: #EC565A;
    --orange-logo: #F4B15D;
    --background-color: #FFFEFC;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}

body {
    max-width: 100%;
    position: relative;
    background-color: var(--background-color);
    font-family: Heebo;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin-block-start: var(--metric-box-spacing);
}

h1 {
    margin: var(--metric-box-spacing);
    margin-bottom: 50px;
    color: #21243D;
    text-align: center;
}

.content {
    max-width: var(--max-image-width);
    margin: auto;
    width: 100%;
    object-fit: contain;
}

.header {
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    margin: var(--metric-box-spacing);
}

.borderless_button {
    position: relative;
    height: 40px;
    border: none;
    background: none;
    font-weight: bold;
    margin: var(--metric-box-spacing);
    cursor: pointer;
    padding-left: 35px;
    background-image: url(../src/img/kiki_03.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: left center;
}

.image-container {
    max-width: var(--max-image-width);
    display: flex;
    justify-content: center; 
    /* border: 1px solid #ccc;  */
}

.image-container img {
    height: 70vh;
}

.thanks {
    color: grey;
    text-align: center;
}

.thanks > ul {
    display: inline-block;
  }

/* Special Thanks Section */
.special-thanks h1::after {
    content: "❤️";
}

.special-thanks {
    margin-top: 50px; /* Adjust as needed */
    text-align: center;
}

.special-thanks h2 {
    color: grey; /* Dark gray color */
    font-size: 16px; /* Adjust as needed */
    margin-bottom: 5px; /* Adjust as needed */
}

.special-thanks ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
}

.special-thanks li {
    color: grey; /* Slightly darker gray color */
    font-size: 14px; /* Adjust as needed */
}

.special-thanks .name {
    font-weight: bold;
    color: grey; /* Darker gray color */
}

